.root {
  -fx-background-color: #ffffff;
  -fx-padding: 20px;
}

.label {
  -fx-text-fill: black;
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
}

.button {
  -fx-background-color: #0078d7;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 8px 16px;
  -fx-background-radius: 4px;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #005a9e;
}

#title-label {
  -fx-text-fill: #ffcc00;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
}

.toolbarContainer {
  -fx-background-color: #ffffff;

}

.displayCards {
  -fx-background-radius: 10px;
  -fx-border-color: #121212;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-radius: 10px;
}

.heading {
  -fx-font-size: 32px;
}

.sub-heading {
  -fx-font-size: 12px;
}

.text {
  color: #000000;
}
